section
  height: 70vh

.kng a:hover
  color: black

#nav-links 
  font-size: 1.5rem
  a:hover
    color: black

#s1
  background:
    image: asset-url("ring_hand.jpg")
    size: cover
    repeat: no-repeat
    position: center

.gallery
  width: 100vw
  overflow-x: scroll
  img
    height: 100%

.dragscroll
  cursor: grab

// .s1-pad
//   padding-top: 10vh

// #s2
//   height: 100vh
//   background:
//     color: white
//     image: asset-url("bg_white.jpg")
//     size: cover
//     repeat: no-repeat
//     position: center

