#nav-links
  font-size: 1.5rem
  &a::hover
    border-bottom: unset

#s1
  height: 70vh
  background:
    image: asset-url("ring_hand.jpg")
    size: cover
    repeat: no-repeat
    position: center

.gallery
  height: 70vh
  overflow-x: scroll
  display: inline
  &::-webkit-scrollbar
    display: none
  img
    height: 100%
  .love-kc
    // padding: 10px
    // position: fixed
    // bottom: 20vh

  // .s1-pad
  //   padding-top: 10vh

// #s2
//   height: 100vh
//   background:
//     color: white
//     image: asset-url("bg_white.jpg")
//     size: cover
//     repeat: no-repeat
//     position: center

