.redmist.ring-color
  .col-12
    %h1.text-center Kao & Gao
  .row
    .col
    .col.underline
    .col
.col-12
  #nav-links.row.py-2.redmist
    .col-4.text-center
      =link_to "Gallery", page_path('gallery'), class: "ring-color"
    .col-4.text-center
      =link_to "Guest Book", "javascript:;", class: "ring-color"
    .col-4.text-center
      =link_to "RSVP", "javascript:;", class: "ring-color"
