= javascript_include_tag 'dragscroll.js'
-set_title

%section.gallery.d-flex.flex-row.dragscroll
  -img_arr = []
  -img_count = Dir[File.join(Rails.root.join('app/assets/images/gallery'), '**', '*')].count { |file| img_arr << file.to_s.split("/")[-1] ; File.file?(file) }
  -img_arr.each do |img|
    .p-1
    =image_tag "gallery/#{img}", class: "img-thumbnail"

.love-kc.redmist.text-center.pt-1
  %h5 Photos Courtesy Of LoveKC Photograhy
