-set_title "KaoAndGao"

.redmist.ring-color
  .col-12
    %h1.text-center Kao & Gao
  .row
    .col
    .col.underline
    .col
.col-12
  #nav-links.row.py-2.redmist
    .col-4.text-center
      =link_to "Gallery", "javascript:;", class: "ring-color"
    .col-4.text-center
      =link_to "Guest Book", "javascript:;", class: "ring-color"
    .col-4.text-center
      =link_to "RSVP", "javascript:;", class: "ring-color"

%section#s1

.redmist.ring-color.py-2
  .col-12
    %h3.text-center August 26, 2018
  .col-12
    %h4.text-center Rustic Manor 1848 &#8226; 3115 State Road 83 &#8226; Hartland, WI 53029
  

/ %section#s2
/ %section#s3