-set_title "Security"

.container
  .text-center.py-3
    =simple_form_for "", url: mgh_path, method: :get do |f|
      =f.input :password, label: false, placeholder: "Password", input_html: {class: "text-center"}
      .pt-3
      =f.submit "Submit", class: "btn btn-primary"