-set_title "RSVP"

%section.rsvp
  .col-sm-4.offset-sm-4.col-md-4.offset-md-4
    =simple_form_for @rsvp, method: :post do |f|
      .form-group
        =f.input :first_name, label: false, placeholder: "First Name", error: "WHERE", input_html:{class: "form-control"}
      .form-group
        =f.input :last_name, label: false, placeholder: "Last Name", input_html:{class: "form-control"}
      .form-group
        =f.input :street_address, label: false, placeholder: "Street Address", input_html:{class: "form-control"}
      .row
        .col
          =f.input :city, label: false, placeholder: "City", input_html:{class: "col form-control"}
        .col
          =f.input :state, collection: us_states, selected: "WI", label: false, input_html:{class: "form-control form-control-md"}
      .form-group
        .pt-3
          =f.input :zipcode, label: false, placeholder: "Zipcode", input_html:{class: "form-control"}
      
      
      .form-group
        =f.input :attendees, label: false, placeholder: "Number Attending", input_html:{class: "form-control"}
        / =f.input_field :ceremony, as: :boolean, label: false, input_html:{class: "form-check-input"}
        / =f.label :ceremony, "Attending", class: "form-check-label text-white"

      .row
        .col-6
          =f.input_field :not_attending, as: :boolean, label: false, input_html:{class: "form-check-input"}
          =f.label :not_attending, "Can't attend", class: "font-s form-check-label text-white"
        .col-6
          .text-right
            =f.submit "RSVP", class: "redmist btn btn-light"

