-set_title "Guestbook"

%section.guestbook
  .col-sm-6.offset-sm-3.col-md-6.offset-md-3.pb-3
    %ul.nav.nav-tabs.nav-justified{role: "tablist"}
      %li.nav-item=link_to "Sign", "#guestbook-sign", id: "#guestbook-sign-tab", class: "active nav-link", role: "tab", data:{toggle: "tab"}
      %li.nav-item=link_to "View", "#guestbook-book", id: "#guestbook-book-tab", class: "nav-link", role: "tab", data:{toggle: "tab"}
  .tab-content#guestbook-tab
    .tab-pane.fade.show.active#guestbook-sign{role: "tabpanel"}
      .col-sm-6.offset-sm-3.col-md-6.offset-md-3
        =simple_form_for @guestbook, method: :post do |f|
          .form-group
            =f.input :name, label: false, placeholder: "Name", input_html:{class: "form-control"}
          .form-group
            =f.text_area :post, label: false, placeholder: "Thank you for visiting our guestbook.  We appreaciate each and everyone of you.  Please leave us some words of encouragement.", class: "form-control"
          .text-center
            =f.submit "Post", class: "redmist btn btn-light"
    
    .tab-pane.fade#guestbook-book{role: "tabpanel"}
      .col-sm-6.offset-sm-3.col-md-6.offset-md-3
        .card
          .card-body
            .col
              -@book.each do |b|
                %p=b.post
                %p.small="- #{b.name}"
                %hr

