-set_title "Guestbook"

%section.guestbook
  .nav
    =link_to "SIGN", "#guestbook-sign", id: "#guestbook-sign-tab", class: "active", data:{toggle: "tab"}
    =link_to "BOOK", "#guestbook-book", id: "#guestbook-book-tab", data:{toggle: "tab"}
  .tab-content#guestbook-tab
    .tab-pane.fade.show.active#guestbook-sign{role: "tabpanel"}
      .col-sm-6.offset-sm-3.col-md-6.offset-md-3
        =simple_form_for @guestbook, method: :post do |f|
          .form-group
            =f.input :name, label: false, placeholder: "Name", input_html:{class: "form-control"}
          .form-group
            =f.text_area :post, label: false, placeholder: "Sign", class: "form-control"
          .text-center
            =f.submit "Post", class: "redmist font-m btn btn-light btn-lg"
    
    .tab-pane.fade#guestbook-book{role: "tabpanel"}
      .col-sm-6.offset-sm-3.col-md-6.offset-md-3
        %h1 Guestbook Tab 2

<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>


<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
