.kng.redmist.ring-color
  .text-center
    =link_to "<h1>Kao & Gao</h1>".html_safe, page_path('index'), class: "ring-color"
  .row
    .col
    .col.underline
    .col
.col-12
  #nav-links.row.py-2.redmist
    .col-4.text-center
      =link_to "Gallery", page_path('gallery'), class: "ring-color"
    .col-4.text-center
      =link_to "Guest Book", guestbooks_path, class: "ring-color"
    .col-4.text-center
      =link_to "RSVP", page_path('rsvp'), class: "ring-color"
